[build]
builder = "nixpacks"
buildCommand = "npm ci --cache /tmp/.npm && npm run build"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 300

[env]
NODE_ENV = "production"
